#thejitu {
    text-align: center;
    padding: 20px;
    background-color: wheat;
}

#em_name {
    text-align: center;
    font-size: medium;
    margin: 10px;
}
#fname {
    text-align: center;
    font-size: medium;
    margin: 10px;
}
#num {
    text-align: center;
    font-size: medium;
    margin: 10px;
}
#schl {
    text-align: center;
    font-size: medium;
    margin: 10px;
}
#brief{
    text-align: center;
    font-size: medium;
    padding: 10px;
    margin: 10px;
}
body{
    background-color:whitesmoke;

}